<div class=" sidebar d-flex flex-wrap justify-content-around">
        <a href="/profile" class="">Profile</a>
        <a href="/orders" class="">Order history</a>
        <a href="/address" class="">Billing Address</a>
        <a href="/wallet" class="">Wallet</a>
        <a href="wishlist" class="">Wishlist</a>
        <a href="/cart" class="">Shopping Cart</a>
        <a href="/coupon" class="">Coupon</a>                
    </div>