<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="/cropper/cropper.css" rel="stylesheet">
    <script src="/cropper/cropper.js"></script>

    <style>
        .test:hover {
            background-color: rgb(238, 238, 238);
        }

        .add-user-btn {
            background-color: #EF6627;
            /* border: none; */
        }

        .active::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 3px;
            background: black;
            bottom: -7px;
        }

        .actions {
            color: #151414;
        }

        .image-label {
            border: black dashed 2px;
            border-radius: 5px;
        }
            .sidebar {
      transition: transform 0.3s ease;
    }

    /* Hidden on small screens (by default) */
    @media (max-width: 767.98px) {
      .sidebar {
        position: fixed;
        top: 56px; /* height of navbar */
        left: 0;
        width: 200px;
        height: 100vh;
        background-color: #000;
        color: white;
        z-index: 1050;
        transform: translateX(-100%);
      }

      .sidebar.show {
        transform: translateX(0);
      }
    }
    </style>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar bg-black">
        <div class="container">
            <a class="navbar-brand text-light" href="#">
                <i class="bi bi-box me-2"></i> ShopEase
            </a>
            <button class="navbar-toggler d-md-none border-0" type="button" id="menuToggle">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/admin/logout" class="btn btn-outline-light d-md-block d-none">logout</a>
        </div>
    </nav>


    <div class="container px-0 mt-5">
        <div class="row row-cols-1 justify-content-between">
            <div class="col col-md-2 col-lg-2 border border-secondary rounded text-secondary sidebar align-self-start p-0"
                style="padding-bottom: -100px;">
                <div class="">

                    <div onclick="location.href='/admin/dashboard'" class="test ps-2 pb-3 px-3 py-1">
                        <img class="position-absolute" src="images/admin-icons/dashboard.png" alt="" style="width: 25px;">
                        <a class="fs-6 pb-3 px-3 py-1 mb-0 text-secondary text-decoration-none">Dashboard</a>
                    </div>

                    <div onclick="location.href='/admin/product'" class="test ps-2 pb-3 px-3 py-1">
                        <img class="position-absolute" src="images/admin-icons/products.png" alt="" style="width: 25px;">
                        <a class="fs-6 pb-3 px-3 py-1 mb-0 text-secondary text-decoration-none">Product</a>
                    </div>

                    <div onclick="location.href='/admin/category'" class="test ps-2 pb-3 px-3 py-1">
                        <img class="position-absolute" src="images/admin-icons/category.png" alt="" style="width: 25px;">
                        <a class="fs-6 pb-3 px-3 py-1 mb-0 text-secondary text-decoration-none">Category</a>
                    </div>

                    <div class="test ps-2 pb-3 px-3 py-1">
                        <img class="position-absolute" src="images/admin-icons/order.png" alt="" style="width: 25px;">
                        <a class="fs-6 pb-3 px-3 py-1 mb-0 text-secondary text-decoration-none">Order</a>
                    </div>

                    <div class="test ps-2 pb-3 px-3 py-1">
                        <img class="position-absolute" src="images/admin-icons/coupon.png" alt="" style="width: 25px;">
                        <a class="fs-6 pb-3 px-3 py-1 mb-0 text-secondary text-decoration-none">Coupon</a>
                    </div>

                    <div class="test ps-2 pb-3 px-3 py-1">
                        <img class="position-absolute" src="images/admin-icons/transaction.png" alt="" style="width: 25px;">
                        <a class="fs-6 pb-3 px-3 py-1 mb-0 text-secondary text-decoration-none">Transactions</a>
                    </div>

                    <div class="test ps-2 pb-3 px-3 py-1">
                        <img class="position-absolute" src="images/admin-icons/offer.png" alt="" style="width: 25px;">
                        <a class="fs-6 pb-3 px-3 py-1 mb-0 text-secondary text-decoration-none">Offer</a>
                    </div>

                    <div onclick="location.href='/admin/brand'" class="test ps-2 pb-3 px-3 py-1">
                        <img class="position-absolute" src="images/admin-icons/offer.png" alt="" style="width: 25px;">
                        <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Brand</a>
                </div>
                </div>

                <div class="my-5">
                    <div class="test ps-2 pb-3 px-3 py-1">
                        <img class="position-absolute" src="images/admin-icons/admin.png" alt="" style="width: 25px;">
                        <a class="fs-6 pb-3 px-3 py-1 mb-0 text-secondary text-decoration-none">Admins</a>
                    </div>
                    <div onclick="location.href='/admin/userManagement'" class="test ps-2 pb-3 px-3 py-1">
                        <img class="position-absolute" src="images/admin-icons/user.png" alt="" style="width: 25px;">
                        <a class="fs-6 pb-3 px-3 py-1 mb-0 text-secondary text-decoration-none">customers</a>
                    </div>
                </div>

                <div>
                    
                    <div onclick="location.href='/admin/logout'" class="test ps-2 pb-3 px-3 py-1">
                        <img class="position-absolute" src="images/admin-icons/logout.png" alt="" style="width: 25px;">
                        <a class="fs-6 px-3 pb-3 ms-3 mb-0 text-secondary text-decoration-none">Logout</a>
                    </div>
                </div>

            </div>

            <div class="card col col-md-9  px-0 mx-3">

                <div class="card-body" style="background-color: #edededb8;" id="card">
                    <!-- <div class=""> -->
                        <form id="productForm" >
                            <h1 class="text-center mb-5">Add new Product</h1>
                    <!-- </div> -->
                    <div class="container" id="form-container">

                        <div class="row justify-content-center my-4">

                            <div class="col col-md-5 col-lg-4">
                                <label class="d-block mb-2 fs-5" for="name">Product name</label>
                                <input class="form-control border-dark rounded-0 p-2" name="name" type="text" id="name"
                                    placeholder="Type here">
                                <p class="text-danger" id="productNameMsg" style="font-size: small;"></p>
                            </div>

                            <div class="col col-md-5 col-lg-4">
                                <label class="d-block mb-2 fs-5" for="discount">Discount</label>
                                <input class="form-control border-dark rounded-0 p-2" name="discount" type="number"
                                    id="discount" min="0" max="100" placeholder="Type here">
                                <p class="text-danger" id="discountMsg" style="font-size: small;"></p>
                            </div>

                        </div>

                        <div class="row justify-content-center my-4">

                            <div class="col col-md-10 col-lg-8">
                                <label class="d-block mb-2 fs-5" for="discription">Discription</label>
                                <textarea class="form-control border-dark rounded-0 p-2" name="discription" type="text"
                                    id="discription" placeholder="Type here"></textarea>
                                <p class="text-danger" id="discriptionMsg" style="font-size: small;"></p>
                            </div>

                        </div>

                        <div class="row justify-content-center  my-4">

                            <div class="col col-md-5 col-lg-4">
                                <label class="d-block mb-2 fs-5" for="brand">Brand name</label>
                                <select class="form-select border-dark rounded-0 p-2" id="brand" name="brand" required>
                                    <option value="" hidden>Select brand</option>
                                    <% brand.forEach(ele => { %>
                                        <option value="<%= ele.name %>"><%= ele.name %></option>
                                    <%})%>
                                </select>
                                <p class="text-danger" id="brandMsg" style="font-size: small;"></p>
                            </div>

                            <div class="col col-md-5 col-lg-4">
                                <label class="d-block mb-2 fs-5" for="category">Category</label>
                                <select class="form-select border-dark rounded-0 p-2" id="category" name="category" required>
                                    <option value="" hidden>Select Category</option>
                                    <% category.forEach(ele => { %>
                                        <option value="<%= ele.name %>"><%= ele.name %></option>
                                    <%})%>
                                </select>
                                <p class="text-danger" id="categoryMsg" style="font-size: small;"></p>

                            </div>

                         </div>

                        <!----------------------- variant session ------------------------->

                        <div class="row justify-content-center my-4" id="variant-session-1">

                            <div class="col col-md-10 col-lg-8 ">

                                <div class="border border-dark rounded-0 pt-2 pb-3 "  id="variant-form-1">
                                    <h1 class="fs-6 fw-normal text-secondary  ps-2">Add variant</h1>

                                    <div class="row row-cols-1 row-cols-lg-3 mx-2">

                                        <div class="col col-md-4 mt-3">
                                            <label class="d-block mb-1 fs-5" for="ram">RAM</label>
                                            <input class="form-control border-dark rounded-0 p-2" name="ram" type="text"
                                                id="ram-1" placeholder="Type here">
                                            <p class="text-danger" id="ramMsg-1" style="font-size: small;"></p>
                                        </div>

                                        <div class="col col-md-4 mt-3">
                                            <label class="d-block mb-1 fs-5" for="storage">Storage</label>
                                            <input class="form-control border-dark rounded-0 p-2" name="storage"
                                                type="text" id="storage-1" placeholder="Type here">
                                            <p class="text-danger" id="storageMsg-1" style="font-size: small;"></p>
                                        </div>

                                        <div class="col col-md-4 mt-3">
                                            <label class="d-block mb-1 fs-5" for="color">Color</label>
                                            <input class="form-control border-dark rounded-0 p-2" name="color"
                                                type="text" id="color-1" placeholder="Type here">
                                            <p class="text-danger" id="colorMsg-1" style="font-size: small;"></p>
                                        </div>
                                        <div class="col col-md-4 mt-3 ">
                                            <label class="d-block mb-1 fs-5" for="quantity">Quantity</label>
                                            <input class="form-control border-dark rounded-0 p-2" name="quantity" type="number"
                                                id="quantity-1" placeholder="Type here">
                                            <p class="text-danger" id="quantityMsg-1" style="font-size: small;"></p>
                                        </div>

                                        <div class="col col-md-4 mt-3 ">
                                            <label class="d-block mb-1 fs-5" for="price">Price</label>
                                            <input class="form-control border-dark rounded-0 p-2" name="price"
                                                type="text" id="price-1" placeholder="Type here">
                                            <p class="text-danger" id="priceMsg-1" style="font-size: small;"></p>
                                        </div>

                                        <!-- <div class="col col-md-4 mt-3 ">
                                                <label class="d-block mb-1 fs-5" for="discount">Discount</label>
                                                <input class="form-control border-dark rounded-0 p-2" name="discount" type="text" id="discount"
                                                    placeholder="Type here">
                                            </div> -->


                                            <!--------------------- images container----------------- -->




                                    </div>

                                    <div class="container mt-5">
                                        <div class="row row-cols-1  g-4" id="imageRow-1">


                                        </div>
                                    </div>

                                    <div class=" mt-4 d-flex justify-content-center" id="image-input-1">
                                        <label for="image-1" class="image-label border-danger bg-light p-5">Add
                                            image</label>
                                        <input id="image-1" type="file" name="image-1" accept="image/*" multiple onchange="newFile(1)"
                                            class="border border-black d-none">
                                        
                                    </div>

                                    <div class="d-flex justify-content-center mt-3" id="image-msg-1">
                                        <p class="text-danger" id="imageMsg-1" style="font-size: small;"></p>
                                    </div>

                                    <div class="row justify-content-center">
                                        <div class="col-2">
                                            <button class="btn btn-primary mt-4" onclick="formSubmit(1)" >submit</button>                                        
                                        </div>
                                    </div>

                                </div>


                            </div>

                        </div>

                        <!---------------------- add more variant button ------------------->

                        <!-- <div class="row justify-content-center my-4 ">
                            <div class="col col-md-10 col-lg-8">
                                <div class="border border-dark ps-2 py-2 " onclick="addvariant()">Add more vairant</div>
                            </div>
                        </div> -->

                        <div class="row justify-content-around" id="publishBtn">
                            <div class="col-6">
                                <button class="btn w-100" id="publish" style="background-color: #EF6627;">Publish</button>
                            </div>
                        </div>

                    </div>

                        

                    </form>

                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

    const sidebar = document.querySelector('.sidebar');
    const toggleBtn = document.getElementById('menuToggle');

    toggleBtn.addEventListener('click', () => {
      sidebar.classList.toggle('show');
    });

        let variantCount = 1
        let croppers = [];
        let count = 0
        let imageCount = []
        let cropCount = []
        
        const formContainer = document.getElementById("form-container")

        // button on the variant session to create a add more variant box
        function formSubmit(variantSessionNumber){
            event.preventDefault()

            if(cropCount[variantSessionNumber-1] < 3 || cropCount[variantSessionNumber-1] == undefined){
                document.getElementById(`imageMsg-${variantSessionNumber}`).textContent = "Minimum 3 images needed, maximum 5"
                window.location.href = `#image-msg-${variantSessionNumber}`
                return 1
            }

            document.getElementById(`imageMsg-${variantSessionNumber}`).textContent = ""

            const publishBtn = document.getElementById("publishBtn")
        
            publishBtn.insertAdjacentHTML('beforebegin', `
                <div class="row justify-content-center my-4 addMoreVariantDiv" >  
                    <div class="col col-md-10 col-lg-8">
                        <div class="border border-dark ps-2 py-2 " onclick="addmorevariant()">Add more vairant</div>
                    </div>
                </div>

            `);
        }
        
        // to create a new variant session for adding more variant
        function addmorevariant(){
            
            event.preventDefault()
            variantCount+=1

            const publishBtn = document.getElementById("publishBtn")
            const addMoreVariantDiv = document.querySelectorAll(".addMoreVariantDiv");
            
            addMoreVariantDiv[addMoreVariantDiv.length -1].classList.add("d-none")
            
            publishBtn.insertAdjacentHTML('beforebegin', `
                        <div class="row justify-content-center my-4" id="variant-session-${variantCount}">

                            <div class="col col-md-10 col-lg-8 ">

                                <div class="border border-dark rounded-0 pt-2 pb-3 " id="variant-form-${variantCount}">
                                    <h1 class="fs-6 fw-normal text-secondary  ps-2">Add variant</h1>

                                    <div class="row mx-2">

                                        <div class="col col-md-4 mt-3">
                                            <label class="d-block mb-1 fs-5" for="ram">RAM</label>
                                            <input class="form-control border-dark rounded-0 p-2" name="ram" type="text"
                                                id="ram-${variantCount}" placeholder="Type here">
                                            <p class="text-danger" id="ramMsg-${variantCount}" style="font-size: small;"></p>
                                        </div>

                                        <div class="col col-md-4 mt-3">
                                            <label class="d-block mb-1 fs-5" for="storage">Storage</label>
                                            <input class="form-control border-dark rounded-0 p-2" name="storage"
                                                type="text" id="storage-${variantCount}" placeholder="Type here">
                                            <p class="text-danger" id="storageMsg-${variantCount}" style="font-size: small;"></p>
                                        </div>

                                        <div class="col col-md-4 mt-3">
                                            <label class="d-block mb-1 fs-5" for="color">Color</label>
                                            <input class="form-control border-dark rounded-0 p-2" name="color"
                                                type="text" id="color-${variantCount}" placeholder="Type here">
                                            <p class="text-danger" id="colorMsg-${variantCount}" style="font-size: small;"></p>
                                        </div>
                                        <div class="col col-md-4 mt-3 ">
                                            <label class="d-block mb-1 fs-5" for="quantity">Quantity</label>
                                            <input class="form-control border-dark rounded-0 p-2" name="quantity" type="text"
                                                id="quantity-${variantCount}" placeholder="Type here">
                                            <p class="text-danger" id="quantityMsg-${variantCount}" style="font-size: small;"></p>
                                        </div>

                                        <div class="col col-md-4 mt-3 ">
                                            <label class="d-block mb-1 fs-5" for="price">Price</label>
                                            <input class="form-control border-dark rounded-0 p-2" name="price" 
                                                type="text" id="price-${variantCount}" placeholder="Type here">
                                            <p class="text-danger" id="priceMsg-${variantCount}" style="font-size: small;"></p>
                                        </div>

                                        <!-- <div class="col col-md-4 mt-3 ">
                                                <label class="d-block mb-1 fs-5" for="discount">Discount</label>
                                                <input class="form-control border-dark rounded-0 p-2" name="discount" type="text" id="discount-${variantCount}"
                                                    placeholder="Type here">
                                                <p class="text-danger" id="discountMsg-${variantCount}" style="font-size: small;"></p>
                                            </div> -->


                                            <!--------------- images container----------------- -->

                                        <div class="container mt-5">
                                            <div class="row row-cols-1  g-4" id="imageRow-${variantCount}">


                                            </div>
                                        </div>

                                        <div class="col-12 mt-4 d-flex justify-content-center" id="image-input-${variantCount}">
                                            <label for="image-${variantCount}" class="image-label border-danger bg-light p-5">Add
                                                image</label>
                                            <input id="image-${variantCount}" type="file" multiple accept="image/*"
                                                class="border border-black d-none" name="image-${variantCount}"  onchange="newFile(${variantCount})">
                                            <p class="text-danger" id="imageMsg-${variantCount}" style="font-size: small;"></p>
                                        </div>


                                    </div>

                                    <div class="row justify-content-center">
                                        <div class="col-2">
                                            <button class="btn btn-primary mt-4" onclick="formSubmit(${variantCount})" >submit</button>                                        
                                        </div>
                                    </div>

                                </div>


                            </div>

                        </div>
            `) 
                                        //             <div class="col-2">
                                        //     <button class="btn btn-dark mt-4" onclick="cancelVariantSubmit(this, ${variantCount})" >cancel</button>                                        
                                        // </div>
            
        }

        // to cancel the newly created variant session
        // function cancelVariantSubmit(element, id){

        //     event.preventDefault()

        //     const parent = document.getElementById("variant-session-" + id)
        //     parent.classList.add("d-none")

        // }

        const cropBtn = document.getElementById("cropBtn")
        

        function newFile(id) {

            const imageInput = document.getElementById("image-" + id)                           
            const imageRow = document.getElementById("imageRow-" + id)

            // console.log("image working", imageRow)
            const file = imageInput.files

            let length = (file.length > 5) ? 5 : file.length
            
            if (file) {
                
                for (let i = 0; i < length; i++) {

                    if (!file[i].type.startsWith("image/")) {

                            imageInput.value = "";
                            
                            Swal.fire({
                                icon: "error",
                                title: "Invalid File",
                                text: `Only image files are accepted`,
                            });


                            return; 
                        }
                    
                    if(imageCount[id-1]==undefined) imageCount[id-1] = 1
                    else imageCount[id-1]++

                    if(imageCount[id-1]>=5){
                        document.getElementById(`image-input-${id}`).classList.add("d-none")
                    }   
                    
                    console.log("this is files", file)
                    count += 1

                    imageRow.insertAdjacentHTML('beforeend', `
                        <div class="position-relative pb-5" id="imgContainer${count}">
                            <div class="d-flex gap-3 position-absolute bottom-0 start-50 translate-middle-x">
                                <button class="btn btn-dark text-light py-1 px-3  " id="cropperBtn${count}" onclick="cropImg(this, ${count}, ${id})">Crop</button>
                                <button class="btn btn-danger text-light py-1 px-3 " id="deleteBtn${count}" onclick="deleteImg(this, ${count})">Delete</button>
                            </div>
                        </div>
                    `)

                    const imgContainer = document.getElementById(`imgContainer${count}`)

                    const reader = new FileReader()

                    reader.onload = (e) => {

                        const img = document.createElement('img');
                        img.src = e.target.result;
                        img.className = 'w-100 imageContainer';

                        img.onload = function () {
                            imgContainer.prepend(img);
                            // btn.classList.remove("d-none")

                            const cropper = new Cropper(img, {
                                aspectRatio: 1,
                                viewMode: 1,
                                preview: '.preview'
                            })
                            // cropper.variant = id
                            croppers.push(cropper)

                            // console.log("croppers after adding vaiant number",croppers)

                        };
                    }
                    
                    //   console.log("cropper array inside the loop", cropper)
                    reader.readAsDataURL(file[i])
                }
                console.log("cropper array after the loop", croppers)
            }

            event.target.value = ''
        }

        let deleteCount = 0
        let croppedBlobs = [];

        // to crop the image
        async function cropImg(element, id, variantNumber) {

            // console.log(`=====================${variant}========================`)

            event.preventDefault()

            console.log("cropper array during btn click", croppers)
            const closeImg = element.parentElement.parentElement.querySelector("img")

            let croppedCanvas;

            if(id<=deleteCount){
             croppedCanvas = croppers[id-1].getCroppedCanvas()
            }
            else{
                croppedCanvas = croppers[(id-1)-(deleteCount)].getCroppedCanvas()
            }
            console.log(element.id)
            // console.log("working///........", croppedCanvas)

            closeImg.src = croppedCanvas.toDataURL('image/jpeg', 1.0);
             
            const siblingElement = closeImg.nextElementSibling

            closeImg.classList.remove("cropper-hidden")
            siblingElement.classList.add("d-none")

            // blob -------------------------

            const blobPromise = new Promise((resolve) => {
                croppedCanvas.toBlob((blob) => {
                    resolve(blob);
                }, "image/jpeg");
            });

            const croppedBlob = await blobPromise;

            croppedBlob.variant = variantNumber
            croppedBlobs.push(croppedBlob)

            console.log("this is blob during btn click",  croppedBlob)

            if(cropCount[variantNumber-1]==undefined) cropCount[variantNumber-1] = 1
            else cropCount[variantNumber-1]++

            setTimeout(() => {
                croppers.pop()
            }, 100);

        }

        // to delete the image
        function deleteImg(element, id){
            event.preventDefault()

            console.log("this is delete croppers", croppers)            
            
            if(id<=deleteCount){
                croppers.splice(id-1, 1)         
            }
            else{
                croppers.splice((id-1)-(deleteCount), 1)
            }

            deleteCount+=1

            const grandParent = element.parentElement.parentElement

            grandParent.classList.add("d-none")
        }

        // form submit / publish
        document.getElementById("publish").addEventListener('click', async () => {

            event.preventDefault()

            const name = document.getElementById("name")
            const discount = document.getElementById("discount")
            const discription = document.getElementById("discription")
            const brand = document.getElementById("brand")
            const category = document.getElementById("category")

            const productNameMsg = document.getElementById("productNameMsg")
            const discountMsg = document.getElementById("discountMsg")
            const discriptionMsg = document.getElementById("discriptionMsg")
            const brandMsg = document.getElementById("brandMsg")
            const categoryMsg = document.getElementById("categoryMsg")
            
            const nameRegex = /^(?!\s*$)(?!\d+$)(?=(?:[^A-Za-z]*[A-Za-z]){3})[A-Za-z0-9][A-Za-z0-9 \-\._+]*$/;
            const discountRegex = /^(100|[1-9]?[0-9])$/;
            const descriptionRegex = /^(?=\D*\S)(?=(?:[^A-Za-z]*[A-Za-z]){2}).+$/;
            const brandRegex = /^(?!\s*$)[A-Za-z][A-Za-z0-9 \-\.+]*$/
            const categoryRegex = /^(?!\s*$)[A-Za-z][A-Za-z0-9 \-\.+]*$/
            
            const ramRegex = /^\s*\d+\s*(GB|gb|MB|mb|TB|tb)$/
            const storageRegex = /^\s*\d+\s*(GB|gb|MB|mb|TB|tb)$/
            const colorRegex = /^\s*[A-Za-z]+([ -]?[A-Za-z]+)*\s*$/
            const quantityRegex = /^\s*\d+\s*$/
            const priceRegex = /^[ ]*\d+(\.\d{1,2})?[ ]*$/;

            if(!nameRegex.test(name.value) && !discountRegex.test(discount.value) && !descriptionRegex.test(discription.value) && !brandRegex.test(brand.value) && !categoryRegex.test(category.value)){
                productNameMsg.textContent = "fild required. Must contain at least 3 letters. Start with letter/number. symbols like + - _ . are allowed"
                discountMsg.textContent = "field required. Must be between 0 to 100"
                discriptionMsg.textContent = "field required. Must contain atleast 2 letters"
                brandMsg.textContent = "Select a brand"
                categoryMsg.textContent = "Select a cateogry"

                window.location.href = "#card"

                return 1
            }
            else if(!nameRegex.test(name.value)){
                productNameMsg.textContent = "fild required. Must contain at least 3 letters. Start with letter/number. symbols like + - _ . are allowed"
                discountMsg.textContent = ""
                discriptionMsg.textContent = ""
                brandMsg.textContent = ""

                window.location.href = "#card"

                return 1
            }
            else if(!discountRegex.test(discount.value)){
                productNameMsg.textContent = ""
                discountMsg.textContent = "field required. Must be between 0 to 100"
                discriptionMsg.textContent = ""
                brandMsg.textContent = ""

                window.location.href = "#card"

                return 1
            }
            else if(!descriptionRegex.test(discription.value)){
                productNameMsg.textContent = ""
                discountMsg.textContent = ""
                discriptionMsg.textContent = "field required. Must contain atleast 2 letters"
                brandMsg.textContent = ""

                window.location.href = "#card"

                return 1
            }
            else if(!brandRegex.test(brand.value)){
                productNameMsg.textContent = ""
                discountMsg.textContent = ""
                discriptionMsg.textContent = ""
                brandMsg.textContent = "Select a brand"

                window.location.href = "#card"

                return 1
            }
            else if(!categoryRegex.test(category.value)){
                productNameMsg.textContent = ""
                discountMsg.textContent = ""
                discriptionMsg.textContent = ""
                brandMsg.textContent = ""
                categoryMsg.textContent = "Select a cateogry"

                window.location.href = "#card"

                return 1
            }
            else{
                productNameMsg.textContent = ""
                discountMsg.textContent = ""
                discriptionMsg.textContent = ""
                brandMsg.textContent = ""
            }

            for(let i=1; i<=variantCount; i++){
                console.log(variantCount)
                const ram = document.getElementById("ram-" + i)
                const storage = document.getElementById("storage-" + i)
                const color = document.getElementById("color-" + i)
                const quantity = document.getElementById("quantity-" + i)
                const price = document.getElementById("price-" + i)

                const ramMsg = document.getElementById("ramMsg-" + i);
                const storageMsg = document.getElementById("storageMsg-" + i);
                const colorMsg = document.getElementById("colorMsg-" + i);
                const quantityMsg = document.getElementById("quantityMsg-" + i);
                const priceMsg = document.getElementById("priceMsg-" + i);

                // const variantForm = document.getElementById("variant-form-" + i)

                if( !ramRegex.test(ram.value) && !storageRegex.test(storage.value) && !colorRegex.test(color.value) && !storageRegex.test(quantity.value) && !priceRegex.test(price.value)){
                    ramMsg.textContent = "Field required. Must be a number with any of mb, gb, tb these extension"
                    storageMsg.textContent = "Field required. Must be a number with any of mb, gb, tb these extension"
                    colorMsg.textContent = "Field required. Only letters allowed with atleast 3 chars"
                    quantityMsg.textContent = "Field required. Must be 0 or above"
                    priceMsg.textContent = "Field required. Must be above 0"
                
                    window.location.href = `#variant-form-${i}`

                    return 1
                }
                else if(!ramRegex.test(ram.value)){
                    ramMsg.textContent = "Field required. Must be a number with any of mb, gb, tb these extension"
                    storageMsg.textContent = ""
                    colorMsg.textContent = ""
                    quantityMsg.textContent = ""
                    priceMsg.textContent = ""

                    window.location.href = `#variant-form-${i}`

                    return 1
                }
                else if(!storageRegex.test(storage.value)){
                    ramMsg.textContent = ""
                    storageMsg.textContent = "Field required. Must be a number with any of mb, gb, tb these extension"
                    colorMsg.textContent = ""
                    quantityMsg.textContent = ""
                    priceMsg.textContent = ""

                    window.location.href = `#variant-form-${i}`

                    return 1
                }
                else if(!colorRegex.test(color.value)){
                    ramMsg.textContent = ""
                    storageMsg.textContent = ""
                    colorMsg.textContent = "Field required. Only letters allowed with atleast 3 chars"
                    quantityMsg.textContent = ""
                    priceMsg.textContent = ""

                    window.location.href = `#variant-form-${i}`

                    return 1
                }
                else if(!quantityRegex.test(quantity.value)){
                    ramMsg.textContent = ""
                    storageMsg.textContent = ""
                    colorMsg.textContent = ""
                    quantityMsg.textContent = "Field required. Must be 0 or above"
                    priceMsg.textContent = ""

                    window.location.href = `#variant-form-${i}`

                    return 1
                }
                else if(!priceRegex.test(price.value)){
                    ramMsg.textContent = ""
                    storageMsg.textContent = ""
                    colorMsg.textContent = ""
                    quantityMsg.textContent = ""
                    priceMsg.textContent = "Field required. Must be above 0"

                    window.location.href = `#variant-form-${i}`

                    return 1
                }
                else{
                    ramMsg.textContent = ""
                    storageMsg.textContent = ""
                    colorMsg.textContent = ""
                    quantityMsg.textContent = ""
                    priceMsg.textContent = ""
                }
            }
            
            // alert("8")
            

            const form = document.getElementById("productForm")
            const formdata = new FormData(form)

            console.log("blob duirng publish", croppedBlobs)

            croppedBlobs.forEach((blob, index) => {
                formdata.append(`image-${blob.variant}`, blob, `cropped-${index}.jpeg`);
            });

            try{
                const res = await fetch('/admin/addProduct', {
                    method: "POST",
                    body: formdata
                })
                .then((res) => {
                    if(res.ok){
                        swal.fire({
                            title: "Success",
                            text: "Successfully added the product",
                            icon: "success",
                            timer: 1500
                        })
                        .then(() => window.location.href = "/admin/product")
                    }
                    else{
                        swal.fire({
                            title: "Error",
                            text: "Failed to added the product",
                            icon: "error",
                            timer: 1500
                        })
                        
                    }
                })
                
            }
            catch(err){
                console.log(err)
                
            }
        })


    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

</body>

</html>