<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin home page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        .test:hover {
            background-color: rgb(238, 238, 238);
        }
        .sidebar {
            transition: transform 0.3s ease;
        }
        @media (max-width: 767.98px) {
        .sidebar {
            position: fixed;
            top: 56px; /* height of navbar */
            left: 0;
            width: 200px;
            height: 100vh;
            background-color: #000;
            color: white;
            z-index: 1050;
            transform: translateX(-100%);
        }

        .sidebar.show {
            transform: translateX(0);
        }
        }   
    </style>
</head>

<body>

    <nav class="navbar bg-black">
        <div class="container">
            <a class="navbar-brand text-light" href="#">
                <i class="bi bi-box me-2"></i> ShopEase
            </a>
            <button class="navbar-toggler d-md-none border-0" type="button" id="menuToggle">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/admin/logout" class="btn btn-outline-light d-md-block d-none">logout</a>
        </div>
    </nav>


    <div class="container px-0 mt-5">
        <div class="row row-cols-1 justify-content-between">
            <div class=" col col-md-3 col-lg-2 border border-secondary text-secondary rounded sidebar align-self-start p-0">
                <div class="">

                    <div onclick="location.href='/admin/dashboard'" class="test ps-2 pb-3 px-3 py-1">
                        <img class="position-absolute" src="images/admin-icons/dashboard.png" alt="" style="width: 25px;">
                        <a class=" text-secondary text-decoration-none fs-6 ms-3 mb-0">Dashboard</a>
                    </div>

                    <div onclick="location.href='/admin/product'" class="test ps-2 pb-3 px-3 py-1">
                        <img class="position-absolute" src="images/admin-icons/products.png" alt="" style="width: 25px;">
                        <a class=" text-secondary text-decoration-none fs-6 ms-3 mb-0">Product</a>
                    </div>

                    <div onclick="location.href='/admin/category'" class="test ps-2 pb-3 px-3 py-1">
                        <img class="position-absolute" src="images/admin-icons/category.png" alt="" style="width: 25px;">
                        <a class=" text-secondary text-decoration-none fs-6 ms-3 mb-0">Category</a>
                    </div>

                    <div  onclick="location.href='/admin/orders'" class="test ps-2 pb-3 px-3 py-1">
                        <img class="position-absolute" src="images/admin-icons/order.png" alt="" style="width: 25px;">
                        <a href="" class=" text-secondary text-decoration-none fs-6 ms-3 mb-0">Order</a>
                    </div>

                    <div class="test ps-2 pb-3 px-3 py-1">
                        <img class="position-absolute" src="images/admin-icons/coupon.png" alt="" style="width: 25px;">
                        <a href="" class=" text-secondary text-decoration-none fs-6 ms-3 mb-0">Coupon</a>
                    </div>

                    <div class="test ps-2 pb-3 px-3 py-1">
                        <img class="position-absolute" src="images/admin-icons/transaction.png" alt="" style="width: 25px;">
                        <a href="" class=" text-secondary text-decoration-none fs-6 ms-3 mb-0">Transactions</a>
                    </div>

                    <div class="test ps-2 pb-3 px-3 py-1">
                        <img class="position-absolute" src="images/admin-icons/offer.png" alt="" style="width: 25px;">
                        <a href="" class=" text-secondary text-decoration-none fs-6 ms-3 mb-0">Offer</a>
                    </div>

                    <div onclick="location.href='/admin/brand'" class="test ps-2 pb-3 px-3 py-1">
                        <img class="position-absolute" src="images/admin-icons/offer.png" alt="" style="width: 25px;">
                        <a class=" text-secondary text-decoration-none fs-6 ms-3 mb-0">Brand</a>
                    </div>
                </div>

                <div class="my-5">
                    <div class="test ps-2 pb-3 px-3 py-1">
                        <img class="position-absolute" src="images/admin-icons/admin.png" alt="" style="width: 25px;">
                        <a href="" class=" text-secondary text-decoration-none fs-6 ms-3 mb-0">Admins</a>
                    </div>
                    <div onclick="location.href='/admin/userManagement'" class="test ps-2 pb-3 px-3 py-1">
                        <img class="position-absolute" src="images/admin-icons/user.png" alt="" style="width: 25px;">
                        <a class=" text-secondary text-decoration-none fs-6 ms-3 mb-0 ">customers</a>
                    </div>
                </div>

                <div>
                
                    <div onclick="location.href='/admin/logout'" class="test ps-2 px-3 pb-3">
                        <img class="position-absolute" src="images/admin-icons/logout.png" alt="" style="width: 25px;">
                        <a class=" text-secondary text-decoration-none fs-6 ms-3 mb-0">Logout</a>
                    </div>
                </div>
            </div>    
        </div>        
    </div>

    <!-- <footer class="bg-black"> 
        <table>
            <th>
                <tr>Exclusive</tr>
                <tr>Support</tr>
                <tr>Exclusive</tr>
                <tr>Exclusive</tr>
                <tr>Exclusive</tr>
            </th>
        </table>
    </footer> -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script>
        const sidebar = document.querySelector('.sidebar');
        const toggleBtn = document.getElementById('menuToggle');

        toggleBtn.addEventListener('click', () => {
        sidebar.classList.toggle('show');
        });
    </script>

</body>

</html>