<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit brand page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <style>
        .test:hover {
            background-color: rgb(238, 238, 238);
        }

        .add-user-btn {
            background-color: #EF6627;
            /* border: none; */
        }

        .active::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 3px;
            background: black;
            bottom: -7px;
        }

        .actions {
            color: #151414;
        }
        .sidebar {
            transition: transform 0.3s ease;
        }
        @media (max-width: 767.98px) {
        .sidebar {
            position: fixed;
            top: 56px; /* height of navbar */
            left: 0;
            width: 200px;
            height: 100vh;
            background-color: #000;
            color: white;
            z-index: 1050;
            transform: translateX(-100%);
        }

        .sidebar.show {
            transform: translateX(0);
        }
        }
    </style>
</head>

<body>

    <nav class="navbar bg-black">
        <div class="container">
            <a class="navbar-brand text-light" href="#">
                Logo
            </a>
            <button class="navbar-toggler d-md-none border-0" type="button" id="menuToggle">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/admin/logout" class="btn btn-outline-light d-md-block d-none">logout</a>
        </div>
    </nav>


    <div class="d-flex gap-5 m-5">
        <div class=" d-inline-block border border-secondary text-secondary sidebar align-self-start py-3"
            style="padding-bottom: -100px;">
            <div class="">

                <div class="test ps-2 pb-3 px-3 py-1">
                    <img class="position-absolute" src="images/admin-icons/dashboard.png" alt="" style="width: 25px;">
                    <a href="/admin/dashboard" class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Dashboard</a>
                </div>

                <div class="test ps-2 pb-3 px-3 py-1">
                    <img class="position-absolute" src="images/admin-icons/products.png" alt="" style="width: 25px;">
                    <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Product</a>
                </div>

                <div class="test ps-2 pb-3 px-3 py-1">
                    <img class="position-absolute" src="images/admin-icons/category.png" alt="" style="width: 25px;">
                    <a href="/admin/category" class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Category</a>
                </div>

                <div class="test ps-2 pb-3 px-3 py-1">
                    <img class="position-absolute" src="images/admin-icons/order.png" alt="" style="width: 25px;">
                    <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Order</a>
                </div>

                <div class="test ps-2 pb-3 px-3 py-1">
                    <img class="position-absolute" src="images/admin-icons/coupon.png" alt="" style="width: 25px;">
                    <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Coupon</a>
                </div>

                <div class="test ps-2 pb-3 px-3 py-1">
                    <img class="position-absolute" src="images/admin-icons/transaction.png" alt="" style="width: 25px;">
                    <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Transactions</a>
                </div>

                <div class="test ps-2 pb-3 px-3 py-1">
                    <img class="position-absolute" src="images/admin-icons/offer.png" alt="" style="width: 25px;">
                    <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Offer</a>
                </div>
            </div>

            <div class="my-5">
                <div class="test ps-2 pb-3 px-3 py-1">
                    <img class="position-absolute" src="images/admin-icons/admin.png" alt="" style="width: 25px;">
                    <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Admins</a>
                </div>
                <div class="test ps-2 pb-3 px-3 py-1">
                    <img class="position-absolute" src="images/admin-icons/user.png" alt="" style="width: 25px;">
                    <a href="/admin/userManagement" class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">customers</a>
                </div>
            </div>

            <div>
                <div class="test ps-2 pb-3 px-3 py-1">
                    <img class="position-absolute" src="images/admin-icons/settings.png" alt="" style="width: 25px;">
                    <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Settings</a>
                </div>
                <div class="test ps-2 pb-3 px-3 py-1">
                    <img class="position-absolute" src="images/admin-icons/help.png" alt="" style="width: 25px;">
                    <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Help</a>
                </div>
                <div class="test ps-2 pb-3 px-3 py-1">
                    <img class="position-absolute" src="images/admin-icons/logout.png" alt="" style="width: 25px;">
                    <a class="fs-6 px-3 pb-3 ms-3 mb-0 text-secondary text-decoration-none">Logout</a>
                </div>
            </div>

        </div>
        <div class="card flex-fill">

            <div class="card-body" style="background-color: #edededb8;">
                <div class="">
                    <h1 class="text-center m-b5">Edit category</h1>
                </div>
                <form action="/admin/EditCategory/<%= editName %>" method="post">
                    <div class="container">
                        <div class="row row-cols-1 justify-content-center ">

                            <div class="col col-lg-7 my-4">
                                <div class="row align-items-center">
                                    <label for="brand" class="col-2 col-form-label">Name</label>
                                    <div class="col-10">
                                        <input class="form-control w-100 pe-5 bg-white border-0" id="brand"
                                            type="text" placeholder="Laptop" name="newName">
                                        <p class="text-danger" id="brandMsg" style="font-size: small;"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-lg-7 my-4">
                                <div class="row align-items-center">
                                    <label for="status" class="col-2 col-form-label">Status</label>
                                    <div class="col-10">
                                        <select class="form-select w-100 pe-5 bg-white border-0" id="status"
                                            name="newStatus" required>
                                            <option value="active">Active</option>
                                            <option value="blocked">Blocked</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-7 d-flex justify-content-end my-4 gap-3">
                                <a href="/admin/brand" role="button" type="submit" class="text-decoration-none text-light px-4 py-1 border-0 rounded bg-black">Cancel</a>
                                <button type="submit" class="text-light px-4 py-1 border-0 rounded" id="submitBtn" style="background-color: #EF6627;">Edit</button>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            const sidebar = document.querySelector('.sidebar');
            const toggleBtn = document.getElementById('menuToggle');

            toggleBtn.addEventListener('click', () => {
            sidebar.classList.toggle('show');
            });

            const editName = "<%= editName %>"

            document.getElementById("submitBtn").addEventListener('click', (event) => {
                
                event.preventDefault()

                const brand = document.getElementById("brand")
                const status = document.getElementById("status")
                const brandRegex = /^\s*[A-Za-z]+(\s[A-Za-z]+)*\s*$/
                const brandMsg = document.getElementById("brandMsg")

                if(!brandRegex.test(brand.value)){
                    
                    brandMsg.textContent = "Invalid brand format"
                    return 1
                }
                else{
                    brandMsg.textContent = ""
                }

                try{
                    const result = fetch(`/admin/EditBrand/${editName}`, {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ newName: brand.value, newStatus: status.value })
                    })
                    .then((res) => {
                        console.log(res)
                        if(res.status==200){
                            swal.fire({
                                title: "brand edited successfully",
                                icon: "success",
                                timer: 1500
                            })
                        }
                        else{
                            swal.fire({
                                title: "Failed to edit brand",
                                text: "brand already exist",
                                icon: "error",
                                timer: 1500
                            })
                        }
                    })
                }
                catch(err){
                    conosle.log(err)
                }

            })

            const statuses = document.querySelectorAll('.status');

            statuses.forEach(status => {
                status.addEventListener('click', () => {
                    statuses.forEach(s => s.classList.remove('active'));
                    status.classList.add('active');
                });
            });

        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>

</body>

</html>