<nav class="navbar bg-black">
        <div class="container">
            <a class="navbar-brand text-light" href="#">
                <i class="bi bi-box me-2"></i> ShopEase
            </a>
            <button class="navbar-toggler d-md-none border-0" type="button" id="menuToggle">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/admin/logout" class="btn btn-outline-light d-md-block d-none">logout</a>
        </div>
    </nav>