<div class="">

    <div onclick="location.href='/admin/dashboard'" class="test ps-2 pb-3 px-3 py-1">
        <img class="position-absolute" src="images/admin-icons/dashboard.png" alt="" style="width: 25px;">
        <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Dashboard</a>
    </div>

    <div onclick="location.href='/admin/product'" class="test ps-2 pb-3 px-3 py-1">
        <img class="position-absolute" src="images/admin-icons/products.png" alt="" style="width: 25px;">
        <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Product</a>
    </div>

    <div onclick="location.href='/admin/category'" class="test ps-2 pb-3 px-3 py-1">
        <img class="position-absolute" src="images/admin-icons/category.png" alt="" style="width: 25px;">
        <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Category</a>
    </div>

    <div onclick="location.href='/admin/orders'" class="test ps-2 pb-3 px-3 py-1">
        <img class="position-absolute" src="images/admin-icons/order.png" alt="" style="width: 25px;">
        <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Order</a>
    </div>

    <div class="test ps-2 pb-3 px-3 py-1">
        <img class="position-absolute" src="images/admin-icons/coupon.png" alt="" style="width: 25px;">
        <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Coupon</a>
    </div>

    <div class="test ps-2 pb-3 px-3 py-1">
        <img class="position-absolute" src="images/admin-icons/transaction.png" alt="" style="width: 25px;">
        <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Transactions</a>
    </div>

    <div class="test ps-2 pb-3 px-3 py-1">
        <img class="position-absolute" src="images/admin-icons/offer.png" alt="" style="width: 25px;">
        <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Offer</a>
    </div>

    <div onclick="location.href='/admin/brand'" class="test ps-2 pb-3 px-3 py-1">
        <img class="position-absolute" src="images/admin-icons/offer.png" alt="" style="width: 25px;">
        <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Brand</a>
    </div>
    </div>

<div class="my-5">
    <div class="test ps-2 pb-3 px-3 py-1">
        <img class="position-absolute" src="images/admin-icons/admin.png" alt="" style="width: 25px;">
        <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">Admins</a>
    </div>
    <div onclick="location.href='/admin/userManagement'" class="test ps-2 pb-3 px-3 py-1">
        <img class="position-absolute" src="images/admin-icons/user.png" alt="" style="width: 25px;">
        <a class="fs-6 pb-3 px-3 py-1 ms-3 mb-0 text-secondary text-decoration-none">customers</a>
    </div>
</div>

<div>
    
    <div onclick="location.href='/admin/logout'" class="test ps-2 pb-3 px-3 py-1">
        <img class="position-absolute" src="images/admin-icons/logout.png" alt="" style="width: 25px;">
        <a class="fs-6 px-3 pb-3 ms-3 mb-0 text-secondary text-decoration-none">Logout</a>
    </div>
</div>